@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

$base-font:'Roboto Mono', monospace;

.sidenav-container {
  height: 100%;
  font-family: $base-font;

}

.sidenav {
  width: 200px;
  background-color: #2b2d3aee;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background:#5781A7;
  font-family: $base-font;
  margin-bottom: 21px;



}
mat-nav-list, a{
  font-family: $base-font;

}
mat-sidenav-container{
  background: #F6F4DF;
}
