<div id="grid-container">



<mat-grid-list cols="2" rowHeight="2:0.4" >
  <mat-grid-tile>
    <mat-card>
      <mat-card-content id="imgke">
        <img mat-card-image src="https://i.pinimg.com/564x/62/23/cb/6223cb00a5cc1a20c1a88618b176725d.jpg">

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <div id="cardy">
    <mat-card >
      <mat-card-content>
        <mat-card-title>Hanygya Quize</mat-card-title>
        <mat-card-subtitle>Válaszolj mind az 5re és tudd meg milyen hangya lennél</mat-card-subtitle>

          <h3>
            <mat-label> Would You Rather Live (Permanently)
              In A Roller Coaster Park Or In A Zoo?</mat-label>
          </h3>
          <input matInput>


          <h3>
            <mat-label>Hero Or Villain For A Day?</mat-label>
          </h3>

          <select matNativeControl required>
            <option value="Villian">Villian</option>
            <option value="Hero">Hero</option>

          </select>
          <h3>
            <mat-label> Describe Your Life Using One Word.</mat-label>
          </h3>
          <textarea matInput></textarea>
          <br>
          <h3>
            <mat-label> What Is In Your Fridge Right Now?</mat-label>
          </h3>
          <textarea matInput></textarea>
          <br>
          <h3>
            <mat-label>If You Could Be A Member Of Any TV-Sitcom Family, Which Would It Be?</mat-label>
          </h3>
          <textarea matInput></textarea>
          <mat-spinner *ngIf="showSpinner"></mat-spinner>

          <mat-card-actions>
            <button mat-raised-button (click)="all('vörös hangya', 'tünés')" color="primary">Hangya</button>

           </mat-card-actions>


    </mat-card-content>
    </mat-card>
  </div>

  </mat-grid-tile>
</mat-grid-list>


</div>


