$base-font:'Roboto Mono', monospace;

// mat-card{
//   //  width: 35vw;
//   // height: 82vh;
//   border: 2px solid #283593;
//   background-color:  #afaaaa;
//   mat-card-title,mat-card-subtitle{
//     color:#023527
//   }
//   h3{
//     width: 21vw;
//   }
//   mat-label{
//     color: rgb(0, 0, 0);
//     font-family:$base-font;
//   }
//
//   mat-form-field{
//     // text-align: right;
//   }

// }

#grid-container{
width: 61vw;
height: 81vh;
margin: auto;

  .mat-grid-tile{
    height: 587px ;
    width:364px ;
    background-color:  #afaaaa;

    mat-card{
      padding: unset;
      mat-card-title,mat-card-subtitle{
        color: rgb(0, 0, 0);
        font-family:$base-font;
        font-weight: bold;
        padding: 5px;
      }
    mat-card-content{
      text-align: center;
      position: relative;
      height:687px;
      width:564px ;
      background-color:  #afaaaa;
      input{
         background-color: #cfc9c9 ;
         height: 21px;
         width: 15vw;
      }:hover{
        border-color: #5781A7;
      }
      textarea{
        background-color: #cfc9c9 ;
         height: 25px;
         width: 15vw;
      }
      select{
        background-color: #cfc9c9 ;
         height: 25px;
         width: 15vw;
      }
      h3{
            width: 21vw;
            padding: 9px;

           }
           mat-label{
             color: rgb(0, 0, 0);
             font-family:$base-font;
         }
         mat-spinner{
           overflow: visible;
           position: relative;
           margin: auto;
         }
    }
    #cardy{
    }
  }
    #imgke{
      position: relative;

        height: 787px ;
        width:564px;
        margin-top: 3vh;
         }
  }
}
