<div class="holder">
  <iframe width="860" height="815" src="https://www.youtube.com/embed/videoseries?list=PLgcliw49-xcF7TF-uNX7acOGjfqc4gSZM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
